{{ define "extrahead" }}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.3/main.min.css" integrity="sha256-5veQuRbWaECuYxwap/IOE/DAwNxgm4ikX7nrgsqYp88=" crossorigin="anonymous">
<style>
    @media (max-width: 767.98px) {
    .fc .fc-toolbar.fc-header-toolbar {
        display: block;
        text-align: center;
    }

    .fc-header-toolbar .fc-toolbar-chunk {
        display: block;
    }
}
</style>
{{ end }}

{{ define "main" }}
{{ partial "cover.html" . }}
<section class="section">
    {{ with .Content }}
    <div class="container">
        {{ . }}
    </div>
    {{ end }}
    <div class="container"><div id='calendar'></div></div>
</section>
{{ end }}

{{ define "extrascripts" }}
<script src="https://cdn.jsdelivr.net/npm/ical.js@1.5.0/build/ical.min.js" integrity="sha256-uotVKltUv5neKsIlZxrxUccba0PaptusFj6p+w8Sons=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.3/main.min.js" integrity="sha256-7PzqE1MyWa/IV5vZumk1CVO6OQbaJE4ns7vmxuUP/7g=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@fullcalendar/icalendar@5.11.3/main.global.min.js" integrity="sha256-Y7WDI9UHToDgc46Sw1kOFkQSnKhwLjp3NnpfcJ0NMRE=" crossorigin="anonymous"></script>

<script src="https://unpkg.com/@popperjs/core@2.11.8" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://unpkg.com/tippy.js@6.3.7" integrity="sha384-AiTRpehQ7zqeua0Ypfa6Q4ki/ddhczZxrKtiQbTQUlJIhBkTeyoZP9/W/5ulFt29" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/add-to-calendar-button@2.2.5/dist/atcb.js" integrity="sha256-6yWNI6TMEEhoxmwUvHkwXNts2Xnh/aOR1tOCOdqhH7M=" crossorigin="anonymous" async defer></script>

<script>
    const subscribeConfig = {
        name: {{ (default "Jatgam Theme Calendar" .Site.Params.Events.calendarName) }},
        subscribe: true,
        startDate: "2023-04-08",
        icsFile: {{ .Site.BaseURL }}+"events/index.ics",
        options: ["Apple", "Google", "iCal", "Outlook.com", "Microsoft365", "MicrosoftTeams", "Yahoo"],
    };

    document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
            events: '{{ .Site.BaseURL }}events/index.json',
            initialView: "listYear",
            customButtons: {
                subscribeToCalendar: {
                    text: 'Subscribe',
                    click: function(e) {
                        atcb_action(subscribeConfig, e.target);
                    }
                }
            },
            headerToolbar: {
                left: "prev,next today subscribeToCalendar",
                center: "title",
                right: "listYear dayGridMonth,timeGridWeek,timeGridDay",
            },
            eventDidMount: function(info) {
                // var tooltip = new Tooltip(info.el, {
                //     title: info.event.extendedProps.description,
                //     placement: 'top',
                //     trigger: 'hover',
                //     container: 'body'
                // });
                if (!info.view.type.startsWith("list")) {
                    let content = `
<div class="content has-text-centered">
    <h6 class="is-6 title has-text-weight-light">${info.event.title}</h6>
</div>`;
                    tippy(info.el, {
                        content: content,
                        allowHTML: true,
                        theme: "jatgam",
                        followCursor: 'horizontal',
                    });
                }
                
            },
            // eventContent: function(arg) {
            //     let span = document.createElement('span')

            //     if (arg.event.extendedProps.location) {
            //         span.innerHTML = '<a href="' + arg.event.url + '">' + arg.event.title + '</a> @ ' +  arg.event.extendedProps.location;
            //     } else {
            //         span.innerHTML = '<a href="' + arg.event.url + '">' + arg.event.title + '</a>';
            //     }

            //     let arrayOfDomNodes = [ span ]
            //     return { domNodes: arrayOfDomNodes }
            // }
        });
        calendar.render();
    });
</script>
{{ end }}
