{{ $authors := .Params.authors }}
{{- range $authors -}}
    {{ $name := . }}
    {{ $path := printf "/%s/%s" "authors" ($name | urlize) }}
    {{- with $.Site.GetPage $path -}}
    <span class="icon-text">
        <span class="icon">
            <i class='ri-user-fill' style='color: #000000;'></i>
        </span>
        <span>{{ if $.Site.Params.showAuthorLinks | default false }}<a href="{{ .RelPermalink }}">{{ $name }}{{ else }}{{ $name }}{{ end }}</a></span>
    </span>
    {{- end -}}
{{- end -}}