<nav class="breadcrumb is-small" aria-label="breadcrumbs">
    <ul>
        {{ range .Ancestors.Reverse }}
        <li>
            {{ if .IsHome }}
            <a href="{{ .RelPermalink }}"><span class="icon is-small"><i class='ri-home-3-fill ri-lg has-text-primary'></i></span></a>
            {{ else }}
            <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
            {{ end }}
        </li>
        {{ end }}
        <li class="is-active">
            <a aria-current="page" href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
        </li>
    </ul>
</nav>