{{ $cover := false }}
{{- $autoCover := default $.Site.Params.autoCover false }}
{{ $hideCover := .Params.hideCover | default false }}

{{ $showByline := and (in .Site.Params.mainSections .Type) (or (eq .IsSection false) (and (eq .IsSection true) (eq .Params.isMultipage true))) }}

{{ if (not $hideCover) }}
  {{- if index .Params "cover" -}}
    {{ $imgResource := false }}
    {{- if .Resources.GetMatch .Params.Cover }}
      {{ with .Resources.GetMatch .Params.Cover }}
        {{ $imgResource = . }}
      {{ end }}
    {{- else if resources.GetMatch .Params.Cover -}}
      {{ with resources.GetMatch .Params.Cover }}
        {{ $imgResource = . }}
      {{ end }}
    {{- else -}}
      {{- $cover = absURL .Params.Cover -}}
    {{- end -}}
    {{ with $imgResource }}
      {{ if gt .Width 1440 }}
        {{ $cover = (.Resize "1440x jpeg q90").RelPermalink }}
      {{ else }}
        {{- $cover = .RelPermalink -}}
      {{ end }}
    {{ end }}
  {{- else if $.Site.Params.AutoCover -}}
    {{- if (not .Params.Cover) -}}
      {{- if .Resources.GetMatch "cover.*" -}}
        {{- $cover = (.Resources.GetMatch "cover.*").RelPermalink -}}
      {{- end -}}
    {{- end -}}
  {{- end -}}
{{ end }}

{{ if true }}
<section class="section py-2"><div class="container">{{ partial "breadcrumb.html" . }}</div></section>
{{ end }}
<div class="hero {{ if $cover }}is-halfheight has-background{{ else }}has-background-primary-light{{ end }}">
    {{ if $cover }}
    <img src="{{ $cover }}" class="hero-background" style="filter: brightness({{ .Params.Brightness | default "70%" }});" alt="{{ .Title | plainify | default " " }}" title="{{ .Params.CoverCredit |plainify|default "Cover Image" }}" />
    {{ end }}
    {{ if (not true) }}
    <div class="hero-head has-padding">
      <div class="container">{{ partial "breadcrumb.html" . }}</div>
    </div>
    {{ end }}
    <div class="hero-body">
        <div class="container">
            <h3 class="title has-text-weight-bold is-family-title has-letter-spacing {{ if $cover }}has-text-white has-text-centered is-2{{ else }}is-3{{ end }}">{{ .Title }}</h3>
        </div>
    </div>
    {{ if and (not $cover) $showByline }}
    <div class="hero-foot has-padding">
      <div class="container has-text-right is-size-7">{{ partial "byLine.html" . }}</div>
    </div>
    {{ end }}
</div>
{{ if and $cover $showByline }}
<section class="section py-2"><div class="container has-text-right is-size-7">{{ partial "byLine.html" . }}</div></section>
{{ end }}