{{ define "main" }}
{{ partial "cover.html" . }}
<section class="section">
  <div class="container">

    <nav class="articleNav level is-flex-wrap-wrap is-mobile is-justify-content-center" role="navigation" aria-label="article navigation">
    {{ range .RegularPages.ByWeight }}
        <div class="level-item has-text-centered is-narrow">
            <a href="{{.RelPermalink }}">{{ .Title }}</a>
        </div>
    {{ end }}
    </nav>

    <div class="columns is-centered">
        <div class="column is-three-quarters">
            {{- with .Content -}}
                <div class="content">
                {{ . }}
                </div>
            {{- end -}}
        </div>
    </div>

  </div>
</section>
{{ end }}